body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: white;
  background: url(images/table.png);
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.game-container {
  border: 2px solid goldenrod;
  border-radius: 2rem;
  max-width: 650px;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 200px;
  background: goldenrod;
  padding: 10px;
  margin: 5px;
  font-size: larger;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.payout {
  font-size: 0.75rem;
}

#refillChipsButton {
  padding: 5px;
  width: 100px;
  margin: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
